{{!-- /app/templates/users/profile.hbs --}} {{outlet}}
<div class="register-container container ">
  <div class="row">
    <br>
    <div class="col-md-3">
          <div  id="h1">
        <h3><span class="kf">Add Child</span><span><img  src="assets/image/businessmen33.png" width="50" height="50" ></span></h3>

      </div>

      <div id="back">
      <p id="p">Child Username:</p>
      {{input type= "text" class="form-control" placeholder="UserName" value=userName}}
      <button type="submit" class="btn btn-primary" {{action 'searchUser'}}>Search User</button>
      <button type="submit" class=" btn btn-warning" {{action 'clearUserField'}}>Clear</button>

      <p>Selected users</p>
    {{#each selectedUserName in selectedUsers}}


        {{selectedUserName}}
  <br/>

      {{/each}}

      <p id="p">Select family:</p>
      <div class="form-group">
        {{view "Ember.Select" content=familiesSelection prompt="Please select a family" class="form-control" optionLabelPath="content.family.family_name" optionValuePath="content.family.id" value=selectedFamily}}
      </div>
      <p><a id="c_btn" class=" btn btn-default btn-md" href="#" role="button" {{action 'addChildToFamily'}}><span class="glyphicon glyphicon-star" aria-hidden="true" ></span>Add to Family</a>
      </p>

</div>
    </div>

 {{#each selectedUserName in selectedUsers}}
    <div class=" col-md-3">
      {{#link-to 'users.home'}}
      
        <div  id="h1">
        <h3><span class="kf">{{selectedUserName}}</span><span><img  src="assets/image/diamond38.png" width="50" height="50" ></span></h3>{{/link-to}}

      </div>
      <p class="small">
        <img src="assets/image/dollar_coin.png" alt="">Balance:</p>
      <p class="small">
        <img src="assets/image/not_available.png" alt="">Credit:</p>
      <br>
   
      <input type="number" class="form-control" placeholder="Amount to Deposit">
      <br>
      <button type="submit" class="btn btn-primary">Deposit</button>
      <button type="submit" class="btn btn-danger">Withdraw</button>
      <br>
      <br>
      <p><a id="c_btn" class=" btn btn-default btn-md" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>View details &raquo;</a>
      </p>

    </div>
     {{/each}}
  </div>
</div>

