{{!-- app/templates/landing-page.hbs --}}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand kf" style="cursor:pointer" {{action 'transitionAndScroll' 'landingPage.index' '.page-top' target=view}}><i class="ki k-tree"></i>Millionaire Labs</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    {{#nav-li active=navbar.about.active dataTarget=navbar.about.pageLocation route=navbar.about.route onClickActions=navbar.about.actions class='kf'}}
                        {{navbar.about.text}}
                    {{/nav-li}}

                    {{#nav-li active=navbar.features.active dataTarget=navbar.features.pageLocation route=navbar.features.route onClickActions=navbar.features.actions class='kf'}}
                        {{navbar.features.text}}
                    {{/nav-li}}
                    
                    {{#nav-li active=navbar.team.active dataTarget=navbar.team.pageLocation route=navbar.team.route onClickActions=navbar.team.actions class='kf'}}
                        {{navbar.team.text}}
                    {{/nav-li}}
                    
                    {{#nav-li active=navbar.blog.active dataTarget=navbar.blog.pageLocation route=navbar.blog.route onClickActions=navbar.blog.actions class='kf'}}
                        {{navbar.blog.text}}
                    {{/nav-li}}
                    
                    {{#nav-li active=navbar.signUp.active dataTarget=navbar.signUp.pageLocation route=navbar.signUp.route onClickActions=navbar.signUp.actions class='kf'}}
                        {{navbar.signUp.text}}
                    {{/nav-li}}
                    
                    {{#nav-li active=navbar.signIn.active dataTarget=navbar.signIn.pageLocation route=navbar.signIn.route onClickActions=navbar.signIn.actions class='kf'}}
                        {{navbar.signIn.text}}
                    {{/nav-li}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class='page-top'>

        {{outlet}}

    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3 class="kf">Location</h3>
                        <p class="kf">Waterloo, Canada</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3 class="kf">Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Millionaire Labs 2014-2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    
