{{!-- /app/templates/sign-up.hbs --}}
<header>

  <div class="register-container container">
    <div class="row">
      <div class="wow bounceInUp">
        <div class="wallet col-md-5">
          <img src="assets/image/wallet8.png" alt="">
        </div>
      </div>
      <div class="register col-md-6">
        <div class="wow slideInLeft" data-wow-delay="0.5s">
          <form {{ action "createUser" on="submit"}} role= "form">
            <h2><span class="kf">Create your New Account </span></h2>
             
              {{input type= "text" id="input" class="form-control" placeholder="UserName" value=userName}}
  
              {{input type= "email" class="form-control" placeholder="Email" value=email}}

      
              {{input type="password" class="form-control" placeholder="Password" value=password}}
              
              password error: {{#each error in user.errors.password}}
                <div class="error">
                  {{error.message}}
                </div>
              {{/each}}
              

              {{input type="password" class="form-control" placeholder=" Confirm Password" value=passwordConfirmation}}

            <button class="btn btn-primary btn-md" type="submit"><span class="kf">REGISTER</span> </button>
              <button class="btn btn-primary btn-md" type="reset" > <span class="kf">CANCEL </span></button>
          </form>
        </div>
      </div>
    </div>
  </div>


</header>

<section id="service">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="kf">About</h2>
      <hr class="star-primary">
    </div>
  </div>

  <div class="row">

  </div>

</section>

