{{!-- /app/templates/sign-up.hbs --}}
<header>

  <div class="register-container container">
    <div class="row">
      <div class="wow bounceInUp">
        <div class="wallet col-md-5">
          <img src="assets/image/wallet8.png" alt="">
        </div>
      </div>
      <div class="register col-md-6">
        <div class="wow slideInLeft" data-wow-delay="0.5s">
          <form {{ action "createUser" on="submit" }} role="form">
            <h2 id="security" class="kf">Create a new User! </h2>  
            <hr class="star-primary"> 
            {{input type= "text" id="input" class="form-control" placeholder="UserName" value=userName}} {{#each error in user.errors.userName}}

            <div class="alert alert-danger">
              {{error.message}}.
            </div>

            {{/each}}

            <div class="form-group">
              {{view "Ember.Select" content=role class="form-control"  value=selectedRole}}
            </div>

            {{input type= "email" class="form-control" placeholder="Email" value=email}} {{#each error in user.errors.email}}

            <div class="alert alert-danger">
              {{error.message}}.
            </div>

            {{/each}} {{input type="password" class="form-control" placeholder="Password" value=password}} {{#each error in user.errors.password}}

            <div class="alert alert-danger" role="alert">
              {{error.message}}.
            </div>

            {{/each}} {{input type="password" class="form-control" placeholder=" Confirm Password" value=passwordConfirmation}}
            <p id="security" class="kf">Security Questions</p>
            <hr class="star-primary">
            <div class="form-group">
              {{view "Ember.Select" content=role class="form-control"  value=selectedRole}}
            </div>
  
             {{input type= "text" class="form-control" placeholder="Answer question 1" value=answer1}} 
        
            <div class="form-group">
              {{view "Ember.Select" content=role class="form-control" arial-describedby="sizing-addon1"  value=selectedRole}}
            </div>
             {{input type= "text" class="form-control" placeholder="Answer question 2" value=answer2}} 
            
            <button class="btn btn-primary btn-md" type="submit"><span class="kf">REGISTER</span> 
            </button>
            <button class="btn btn-primary btn-md" type="reset"> <span class="kf">CANCEL </span>
            </button>
    
            <br>{{#link-to 'signIn'}}Already In? Login{{/link-to}}


          </form>
        </div>
      </div>
    </div>
  </div>


</header>



